#abc{
    background-color: yellow;
}
#abc1{
    background-color: red;
    width: 120px;
}
#abc2{
    background-color: rgb(152, 14, 97);
    height: 30px;
}
#abc3{
    background-color: rgb(58, 131, 195);
    color: beige;
}
