body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}

.container {
    border: 2px solid rgb(242, 172, 68);
    background-color: rgb(241, 235, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
    margin: 20px;
}

.card{
    background-color: rgb(228, 200, 156);
    width: 220px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 40px 8px rgba(14, 8, 0, 0.5);
    border: 2px solid #e3e38e;
}

.circle {
    background-color: beige;
    color: rgb(83, 46, 4);
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 15px;
}
h3{
    margin-bottom: 5px;
    color: rgb(119, 70, 10);
}

p {
    margin: 5px 0;
    font-size: 14px;
    color: rgb(101, 75, 44);
}